<div class="divv sidebar1">
  <ul class="sidebar-nav list-group">
    <li class="list-group-item sidebar-item">User: <a href="{{ user.get_absolute_url }}" class="text2">{{ user.get_username }}</a></li>
    <li class="list-group-item sidebar-item"><a href="{% url 'login'%}?next={{request.path}}" class="text2">Logout</a></li>

    <br>

    <li class="list-group-item sidebar-item"><a href="{% url 'university_app:index' %}" class="text2">Home</a></li>
    <li class="list-group-item sidebar-item"><a href="{% url 'university_app:students-list' %}" class="text2">Students list</a></li>
    <li class="list-group-item sidebar-item"><a href="{% url 'university_app:teachers-list' %}" class="text2">Teachers list</a></li>
    <li class="list-group-item sidebar-item"><a href="{% url 'university_app:specializations-list' %}" class="text2">Specializations list</a></li>
  </ul>
</div>