{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Specializations list
    <a href="{% url "university_app:specialization-create" %}" class="btn btn-primary link-to-page">Create</a>
  </h1>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
  {% if specialization_list %}
    <table class="table">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Educational program</td>
      </tr>
      {% for specialization in specialization_list %}
        <tr>
          <td>{{ specialization.id }}</td>
          <td><a href="{% url "university_app:specialization-detail" pk=specialization.id %}">{{ specialization.name }}</a></td>
          <td>{{ specialization.educational_program }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}