{% extends "base.html" %}

{% block body_class %}
  other_pages_image
{% endblock %}

{% block content %}
  <div class="divv background">
    <h1>Delete specialization?</h1>
    <div class="mt-3">
      <form action="" method="post">
        {% csrf_token %}
          <input type="submit" value="Yes" class="btn btn-danger btnt">
          <a href="{% url "university_app:specialization-detail" pk=specialization.id %}" class="btn btn-secondary btnt">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}