{% extends "base.html" %}

{% block content %}
  <h1>Teachers list</h1>
  {% if teacher_list %}
    <table class="table">
      <tr>
        <td>ID</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Specialization</td>
      </tr>
      {% for teacher in teacher_list %}
        <tr>
          <td><a href="{% url "university_app:teacher-detail" pk=teacher.id %}">{{ teacher.id }}</a></td>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.surname }}</td>
          <td>{{ teacher.specialization }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no teachers!</p>
  {% endif %}
{% endblock %}